* {
	margin: 0;
	padding: 0;
}


body {
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #eee;
}

#status	{
	margin-bottom: 5px;
	display: inline-box;
	font-size: 16px;
}


a {
	text-decoration: none;
	color: #FFE788;
}

a:hover {
	text-decoration: none;
	color: #eee;
}

#lpjstat	{
	height:780px;
	width:1000px;
}

#sideside	{
	height:300px;
}

#wrap {
	margin: 20px auto;
	width: 1200px;
}

#yearpicker	{

	color:black;
	display: inline-block;
	position: relative;
	left: -30px;
	right: -30px;

}

#map	{
	margin-top:5px;
	margin-bottom:5px;
	padding: 0px;
	width:100%;
	height:400px;

}

#adminmap    {
        margin-top:5px;
        margin-bottom:5px;
        padding: 0px;
        width:100%;
        height:800px;

}


#chart	{
	width:100px;
	height:400px;
	padding:0px;
}

#scoreboard	{
	width:880px;
	height:400px;
}

#header {
	height: 60px;
	line-height: 60px;
}
#header h1 {
	color : #fff; 
	font-size: 50px;
	letter-spacing: -7px;
	margin-left:180px;
}

#left {
	margin-top: 10px;
	float: left;
	width: 160px;
	font-size: 13px;
	padding: 10px;
	background: #000000;
}

#left ul {
	list-style-type: square;
	padding: 5px 0 10px 30px;
	color: #FFE788;
}

#left h2 {
	font-size: 20px;
	font-weight: 100;
	letter-spacing: -2px;
	padding: 5px 0 5px 0;
}

#right {
	margin-top: 10px;
	float: right;
	width: 1000px;
	background: #000000;
	text-align: justify;
	padding: 10px;
}

#right h2 {
	font-weight: 100;
	letter-spacing: -2px;
	font-size: 28px;
	padding: 15px 0 10px 0;
}

#right h2 a {
}

#right h2 a:hover {
	color: #fff;
	text-decoration: none;
}

#googleMap	{
	display:inline-box;
	float:right;
}

#killList	{
	display:inline-box;
	float:right;
	width:47%;
	height:300px;
	overflow: hidden;
	padding:5px;
	padding-left:15px;
	border: 1px solid #333333;
}

#topTen	{
	display:inline-box;
	float:left;
	width:47%;
	height:300px;
	overflow: hidden;
        padding:5px;
	padding-left:15px;
        border: 1px solid #333333;

}

#footer {
	background: #000000;
	font-size: 11px;
	text-align: center;
	margin-top: 30px;
	padding: 5px 0;
}

#timeline	{
	width:100%;
	padding:0px;
}

#timelinechart	{
	width:98%;
}


.highcharts-container	{
	width:98%; 
	height:100%;
	padding: 0px 0px 0px 0px !important;
	margin: 0px 0px 0px 0px !important;
}

#endyear	{
	display: inline-block;
}
.special_binder_yearpicker	{
	color:white;
	display: inline-block;
	padding: 2px;
}

.contextmenu{
  visibility:hidden;
  background:#ffffff;
  border:1px solid #8888FF;
  z-index: 10;
  position: relative;
  width: 140px;
}
.contextmenu div{
padding-left: 5px
}
