* {
	margin: 0;
	padding: 0;
}

body {
	background: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #eee;
}

a {
	text-decoration: none;
	color: #FFE788;
}

a:hover {
	text-decoration: none;
	color: #eee;
}

#lpjstat	{
	height:1000px;
}

#sideside	{
	height:300px;
}

#wrap {
	margin: 20px auto;
	width: 1200px;
}

#map	{
	margin-top:25px;
	width:800px;
	height:400px;
}

#chart	{
	width:880px;
	height:400px;
}

#scoreboard	{
	width:880px;
	height:400px;
}

#header {
	height: 60px;
	line-height: 60px;
}
#header h1 {
	color : #fff; 
	font-size: 50px;
	letter-spacing: -7px;
}

#left {
	margin-top: 10px;
	float: left;
	width: 160px;
	font-size: 13px;
	padding: 10px;
	background: #000000;
}

#left ul {
	list-style-type: square;
	padding: 5px 0 10px 30px;
	color: #FFE788;
}

#left h2 {
	font-size: 20px;
	font-weight: 100;
	letter-spacing: -2px;
	padding: 5px 0 5px 0;
}

#right {
	margin-top: 10px;
	float: right;
	width: 880px;
	background: #000000;
	text-align: justify;
	padding: 10px;
}

#right h2 {
	font-weight: 100;
	letter-spacing: -2px;
	font-size: 28px;
	padding: 15px 0 10px 0;
}

#right h2 a {
}

#right h2 a:hover {
	color: #fff;
	text-decoration: none;
}

#googleMap	{
	display:inline-box;
	float:right;
}

#killList	{
	display:inline-box;
	float:right;
	width:500px;
	height:300px;
	overflow: hidden;
}

#topTen	{
	display:inline-box;
	float:left;
	width:300px;
	height:300px;
	overflow: hidden;
}

#footer {
	background: #000000;
	font-size: 11px;
	text-align: center;
	margin-top: 30px;
	padding: 5px 0;
}
